/*imports fonts*/
@import url('https://fonts.googleapis.com/css2?family=Actor&family=Adamina&family=Poppins&display=swap');
*{
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-family: 'Adamina', serif;
    /* font-family: 'Actor', sans-serif;
    font-family: 'Adamina', serif;
    font-family: 'Poppins', sans-serif; */
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(234, 234, 234);
}
.container{
    position: relative;
}

.header{
    background-color: black;
    height: 40vh;
    background-size: cover;
    padding: 70px;
}
/* main text */
.header  h1{
    font-family: 'Adamina', serif;
    font-weight: 200;
    color: #FAFF00;
    font-size: 3.5rem;
    margin-bottom: 0;
}

/* navbar */
nav{
    /* background-color: bisque; */
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    
    /* background-color: antiquewhite; */
    width: 80%; 
    margin: 0 auto;
    transition-duration: 2s;
}
ul{
    list-style: none;
}
nav li{
    display: inline;
}
/* nav links */
nav li a{
    display: inline-block;
    text-decoration: none;
    padding: 3px 7px;
    font-family: 'Adamina', serif;
    margin: 0 15px;
    border-radius: 3px;
    color: white;

}
/* selected link */
nav .selected{
    border: none;
    background-color: #FAFF00;
    color: rgb(0, 0, 0);
    border-radius: 2px 12px 2px 2px;
    padding: 1rem 2rem;
}
/* main text in header */
.header-text{
    margin-top: 2rem;
    border-top: rgb(209, 209, 209) 0.05rem solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.header-main-text{
    
}
.header-text h3{

    font-family: 'Poppins', sans-serif;
    color: rgb(174, 174, 174);
    font-size: 1.1rem;

}
/* images section
.details-pane{
    width: 45vw;
    height: 50vh;
    margin-left: 6rem;
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(7 100px);
    grid-template-rows: 40rem 8rem;
    grid-template-areas: 
    "main-image main-image main-image main-image main-image main-image main-image"
    "one two three four five six seven";
    grid-gap:0.7rem;
    ;
} */
.first-article{
    display: flex;
    flex-direction: row;
    margin: 5rem;
}
/* images gallery section begin*/ 
.gallery { 
  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));;
  grid-gap: 10px;
  align-items: start;
  justify-items: center;
  width: 660px;
  margin-right: 3rem;
  }
.gallery img {
 
  max-width: 100%;
}
.gallery img:nth-child(1) {
  grid-column: span 6;
  }
  /* images gallery section begin*/ 

.form{
    float: right;
    background-color: rgb(255, 255, 255);
    width: 20vw;
    height: auto;
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: #FAFF00;
}
.logo{
    background-color: #dfdfdf98;
    height: 4.5rem;
    border-radius: .7rem;

}
.logo img{
    float: left;
    margin-right: 1rem;
    border-radius: 50%;
    height: 100%;
}
.logo a{
    text-decoration: none;
    font-family: ;
    color: gray;
}
.logo a:hover{
    color:black;
    transform: scale(1.1);
}
.input-field{
    width: 100%;
    padding: 1rem 1rem;
    margin-top: 1rem;
    border-radius: .7rem;
    border: 0.05rem solid rgba(128, 128, 128, 0.745);
}
.form button{
    border: none;
    width: 100%;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border-radius: 2px 12px 2px 2px;
    padding: 1rem 2rem;
    margin-top: 1rem;
}
.form button:hover{
    background-color: #393939;
    color: rgb(255, 255, 255);
}
/*form learn more button icon*/
.form i{
    color: #FAFF00;
    
}

/* Details section style */
.details{
    position: relative;
    margin-left: 5rem;
    height: 15vh;
    padding-top: .004rem;
     width: 35%;
    background-color: #ffffff;
    border-radius: 1rem;
}
.details h2{
    margin-left: 1rem;
}
.status {
   
    position: absolute;
    bottom: 0;
    
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5rem;
    justify-content: center;
    align-content: center;
    gap: 0px;

    grid-auto-flow: row;
}
/* cards status pane */
.status div{
    border-top: 2px rgba(135, 135, 135, 0.648) solid;
    color: black;
    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
   

}
div .center-div{
    border-left: 2px rgba(135, 135, 135, 0.648) solid;
    border-right: 2px rgba(135, 135, 135, 0.648) solid;
}



/* feature section */
.feature-list{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1rem;
    border-top:0.05rem grey solid ;

}

/* footer section begin */
footer{
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
    height: 65vh;
    padding-top: 6.5rem;
    padding-left: 6.5rem;
    padding-right: 6.5rem;
    
}
footer h2{
    color: white;

}
.footer-subcontainer{
    width: 100%;
    border-top: 0.1rem grey solid;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 3rem;
    margin-top: 9rem;
}
.footer-social-icons{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content:space-evenly;
    align-content: center;
    gap: 1rem;



}
.parent-column{
    flex-grow: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    gap: 25px;
    grid-auto-flow: row;
}
.parent-column div{
    text-align: left;
}
.footer-subcontainer h2{
    
}
.orange-text{
    color: #FAFF00;
}
footer li{
    margin-top: 1rem;
}
footer li a{
    display: block;
    color: rgb(221, 220, 220);
    
    
}
footer li a:hover{
    color: white;
    transform: scale(1.2);
}



/* icons styling*/
i{
    margin-right: 0.7rem;
    font-size: 15px !important;
    color: rgb(0, 0, 0);
}

/* footer social media icons styling*/
footer i{
    margin: 0 2rem;
    font-size: 45px !important;
    color: rgb(255, 255, 255);
}