/*imports fonts*/
@import url('https://fonts.googleapis.com/css2?family=Actor&family=Adamina&family=Poppins&display=swap');
*{
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-family: 'Adamina', serif;
    /* font-family: 'Actor', sans-serif;
    font-family: 'Adamina', serif;
    font-family: 'Poppins', sans-serif; */
}
body{
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
}

.header{
    background-color: black;
    height: 40vh;
    background-size: cover;
    padding: 70px;
}
/* main text */
.header  h1{
    font-family: 'Adamina', serif;
    font-weight: 200;
    color: #FAFF00;
    font-size: 3.5rem;
    margin-bottom: 0;
}

/* navbar */
nav{
    /* background-color: bisque; */
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    
    /* background-color: antiquewhite; */
    width: 80%; 
    margin: 0 auto;
    transition-duration: 2s;
}
ul{
    list-style: none;
}
nav li{
    display: inline;
}
/* nav links */
nav li a{
    display: inline-block;
    text-decoration: none;
    padding: 3px 7px;
    font-family: 'Adamina', serif;
    margin: 0 15px;
    border-radius: 3px;
    color: white;

}
/* selected link */
nav .selected{
    border: none;
    background-color: #FAFF00;
    color: rgb(0, 0, 0);
    border-radius: 2px 12px 2px 2px;
    padding: 1rem 2rem;
}
/* main text in header */
.header-text{
    margin-top: 2rem;
    border-top: rgb(209, 209, 209) 0.05rem solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.header-main-text{
    
}
.header-text h3{

    font-family: 'Poppins', sans-serif;
    color: rgb(174, 174, 174);
    font-size: 1.1rem;

}
/* images section */
.details-pane{
    width: 45vw;
    height: 45vh;
    display: grid;
    grid-template-columns: repeat(7 1fr);
    grid-template-rows: 6fr 1fr;
    grid-template-areas: 
    "main-image main-image main-image main-image main-image main-image main-image"
    "one two three four five six seven";
    grid-gap:0.7rem;
    ;
}
.main-image{
    grid-area: main-image;
    background-image: url("/assets/images/PropertyHouse.png");
    background-size: cover;
}
.one{
    grid-area: one;
    background-image: url(/assets/images/Rectangle-1.png);
    background-size: cover;
}
.two{
    grid-area: two;
    background-image: url(/assets/images/Rectangle-1.png);
    background-size: cover;
}
.three{
    grid-area: three;
    background-image: url(/assets/images/Rectangle-1.png);
    background-size: cover;
}
.four{
    grid-area: four;
    background-image: url(/assets/images/Rectangle-1.png);
    background-size: cover;
}
.five{
    grid-area: five;
    background-image: url(/assets/images/Rectangle-1.png);
    background-size: cover;
}
.six{
    grid-area: six;
    background-image: url(/assets/images/Rectangle-1.png);
    background-size: cover;
}
.seven{
    grid-area: seven;
    background-image: url(/assets/images/Rectangle-1.png);
    background-size: cover;
}

/* footer section begin */
footer{
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
    height: 65vh;
    padding-top: 6.5rem;
    padding-left: 6.5rem;
    padding-right: 6.5rem;
    
}
footer h2{
    color: white;

}
.footer-subcontainer{
    width: 100%;
    border-top: 0.1rem grey solid;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 3rem;
    margin-top: 9rem;
}
.footer-social-icons{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content:space-evenly;
    align-content: center;
    gap: 1rem;



}
.parent-column{
    flex-grow: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    gap: 25px;
    grid-auto-flow: row;
}
.parent-column div{
    text-align: left;
}
.footer-subcontainer h2{
    
}
.orange-text{
    color: #FAFF00;
}
footer li{
    margin-top: 1rem;
}
footer li a{
    display: block;
    color: rgb(221, 220, 220);
    
    
}
footer li a:hover{
    color: white;
    transform: scale(1.2);
}



/* icons styling*/
i{
    margin-right: 0.7rem;
    font-size: 15px !important;
    color: rgb(0, 0, 0);
}

/* footer social media icons styling*/
footer i{
    margin: 0 2rem;
    font-size: 45px !important;
    color: rgb(255, 255, 255);
}