/*imports fonts*/
@import url('https://fonts.googleapis.com/css2?family=Actor &family=Adamina&family=Poppins&display=swap');
* {
    box-sizing: border-box;
    color: white;
    font-family: 'Adamina', serif;
    /* font-family: 'Actor', sans-serif;
    font-family: 'Adamina', serif;
    font-family: 'Poppins', sans-serif; */
}
body {
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
}
button {
    font-family: 'Poppins', sans-serif;

}
/* header section style */
.header {
    background-image: url("../images/moving.png");
    height: 100vh;
    background-size: cover;
    padding: 70px;
}
/* main text */
.header h1 {
    font-family: 'Adamina', serif;
    font-weight: 200;
    color: #FFAC12;
    font-size: 5.5rem;
    margin-bottom: 0;
}
/* subtext */
.header h3 {
    font-family: 'Poppins', sans-serif;
    color: rgb(155, 155, 155);
    margin-top: 5rem;
    font-size: 2rem;
}
/* navbar */
nav {
    /* background-color: bisque; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    /* background-color: antiquewhite; */
    width: 80%;
    margin: 0 auto;
    transition-duration: 2s;
}
ul {
    list-style: none;
}
nav li {
    display: inline;
}
/* nav links */
nav li a {
    display: inline-block;
    text-decoration: none;
    padding: 3px 7px;
    font-family: 'Adamina', serif;
    margin: 0 15px;
    border-radius: 3px;

}
/* active link */
nav .active {
    background-color: #FFAC12;
    color: black;


}
/* selected link */
nav .selected {
    background-color: black;
    color: #FFAC12;
}
/* main text in header */
.header-main-text {
    width: 70%;

}
nav a:hover {
    transform: scale(1.2);
    padding: 0.3rem;

    background-color: #b2b2b1;
}
nav .selected:hover {
    transform: scale(1.2);
    color: #000000;
    background-color: #ffffff;
}

.header-sub-text {
    width: 50%;

}
/* first article style */
.first-section {
    height: 90vh;
    background-color: rgb(255, 255, 255);
    color: black;
    position: relative;
    margin: 2.5rem 0;
}

.first-section img {
    float: left;
    width: 50vw;
    height: 90vh;
    margin-right: 4rem;
}
.first-section-text {
    position: relative;
    transform: translateY(50%);
    padding: 3rem;
    width: 45vw;
    float: right;


}
.first-section-text i {
    color: #ffffff !important;
    margin-left: 1rem;
}

.gradient {
    margin: 0;
    height: 0.3rem;
    border-radius: 1rem;
    width: 14rem;
    background-image: linear-gradient(to right, #FFAC12 , black);
}
.first-section h3 {
    margin: 0;
    font-size: 4rem;
    font-family: 'Adamina', serif;
    font-weight: 300;
    color: black;
}
.first-section p {
    font-size: 2rem;
    color: #FFAC12;
    font-family: 'Poppins', sans-serif;
}

.first-section button {
    border: none;
    background-color: black;
    color: #FFAC12;
    border-radius: 2px 12px 2px 2px;
    padding: 0.9rem 1.2rem;
}
.first-section button:hover {
    background-color: rgb(131, 131, 131);
    color: #000000;
}

/* second section parent class*/
.second-section {
    background-color: #aeaeae91;
    height: 200vh;
    margin-top: 2rem;
    padding: 8rem;
}
.second-section h3 {
    margin: 0;
    font-size: 4rem;
    font-family: 'Adamina', serif;
    font-weight: 300;
    color: black;
}
/* second section sub-parent class */
.parent-cards {
    display: grid;
    margin-top: 13rem;
    height: 140vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;


    justify-content: center;
    align-content: center;

    gap: 25px;
    grid-auto-flow: row;
    padding: 0;
}

.cards {
    bottom: 0;
    background-color: rgba(240, 248, 255, 0.19);
    /* background-image: url("../images/moving.png"); */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    position: relative;
    background-color: aliceblue;
    border-radius: 2rem;

}
/* used important to overide the placeholder background images with the correct images */
/* #movers {
    background-image: url("../images/ehem.png") !important;
}
#maridadi {
    background-image: url("../images/wewe.png") !important;
}
#ufalme {
    background-image: url("../images/movers.png") !important;
}
#chapchap {
    background-image: url("../images/chapchap.png") !important;
}

#upesi {
    background-image: url("../images/songa.png") !important;
}
#mashinani {
    background-image: url("../images/mashinani.png") !important;
} */

.status {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5rem;
    justify-content: center;
    align-content: center;
    gap: 0;

    grid-auto-flow: row;
}
/* cards status pane */
.status div {
    border-top: 2px rgba(135, 135, 135, 0.648) solid;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;


}
div .center-div {
    border-left: 2px rgba(135, 135, 135, 0.648) solid;
    border-right: 2px rgba(135, 135, 135, 0.648) solid;
}
/* cards main text */
.cards h2 {
    margin: 0 1rem;
    font-size: 2rem;
    font-family: 'Adamina', serif;
    font-weight: 300;
    color: black;
    position: absolute;
    bottom: 20%;
}


/* footer section begin */
footer {
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
    height: 65vh;
    padding-top: 6.5rem;
    padding-left: 6.5rem;
    padding-right: 6.5rem;

}
.footer-subcontainer {
    width: 100%;
    border-top: 0.1rem grey solid;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 3rem;
    margin-top: 9rem;
}
.footer-social-icons {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    align-content: center;
    gap: 1rem;


}
.parent-column {
    flex-grow: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    gap: 25px;
    grid-auto-flow: row;
}
.parent-column div {
    text-align: left;
}
.footer-subcontainer h2 {}
.orange-text {
    color: #FFAC12;
}
footer li {
    margin-top: 1rem;
}
footer li a {
    display: block;
    color: rgb(221, 220, 220);


}
footer li a:hover {
    color: white;
    transform: scale(1.2);
}


/* icons styling*/
i {
    margin-right: 0.7rem;
    font-size: 15px !important;
    color: rgb(0, 0, 0);
}

/* footer social media icons styling*/
footer i {
    margin: 0 2rem;
    font-size: 45px !important;
    color: rgb(255, 255, 255);
}
footer i:hover {
    color: #FFAC12;
    transform: scale(1.2);
}
footer a {
    text-decoration: none;
}
footer a:hover {
    transform: scale(1.2);
    color: #ffffff;
}
footer li a:hover {
    color: #FFAC12;
    transform: scale(1.2);

}
/* media query of small screen */
@media screen and (max-width: 480px) {

    .header {
        background-image: none;
        background-color: #000000;
        height: 22vh;
        padding: 12px;

    }
    .header h1 {
        font-size: 18px;
        text-align: center;

    }
    .header h3 {
        font-size: 10px;
        color: rgb(207, 206, 206);
        margin: 4px 0;
        text-align: center;
    }
    nav {
        width: 100%;
        /* background-color: #b2b2b1; */
        padding: 0;
        margin-top: 2px;

    }
    nav li {
        display: inline-block;


    }
    nav li a {
        margin: 0 4px;
        padding: 2px 4px;
        font-size: 8px;
    }
    .first-section {
        width: 100%;
        height: 55vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 12px;
        /* background-color: #000000; */


    }
    .first-section img {
        width: 100vw;
        height: 30vh;
        margin: 0;
    }
    .first-section-text {
        width: 100%;
        margin-top: -85px;
        /* background-color: #000000c4; */
        height: 20vh;
        padding: 12px;
    }
    .first-section h3 {
        font-size: 20px;
        color: #000000;
        margin: 0;
    }
    .first-section-text p {
        font-size: 14px;
        margin: 0;
    }
    .first-section button {
        margin-top: 10px;
    }
    .gradient {
        width: 0;
        height: 0;
    }
    .parent-cards {
        display: flex;
        width: 100%;
        height: 60vh;
        flex-direction: column;

    }
    /*secontd section*/
    .second-section{
       height: 60vh;
       margin: 0;
       padding: 2px;
        
    }
    .second-section h3{
        font-size: 22px;
    }
    .parent-cards{
        display: flex;
        flex-direction: row;
        overflow: hidden;
        overflow-x: auto;
        margin-top: 6px;
        height: 60vh;
        width: 100%;
        background-color: #FFAC12;
    }
    /*support scroll bar in fire fox*/
    .parent-cards{
        -ms-overflow-style: none;
        scroll-behavior: none;
    }
    /*support scroll bar in firefox*/
    .parent-cards::-webkit-scrollbar{
        display: none;
    }
    .cards{
        background-color: #ffffff;
        width: 90vw;
        height: 50vh;
        border-radius: 20px;
        margin-top: 18px;
        margin-left: 10px;
        margin-right: 12px;
    }
    .cards img{
        margin: 0 auto;
        top:0;
        height: 35vh;
        width: 90vw;
    }
    .cards h2{
        font-size: 20px;
    }





    /*footer stylying*/
    footer {
        margin: 0;
        width: 100%;
        height: 60vh;
        margin:0;
        padding: 6px;
    }
    footer h2{
        text-align: center;
    }
    .footer-subcontainer{
        display: flex;
        flex-direction: column;
        margin-top:12px ;
        /* background-color: aquamarine; */
    }
    .footer-social-icons{
      

        margin-top: 10px;
        height: 50px;
        width: 100%;
        display: flex;
        flex-direction: row;

        
    }
    footer ul{
        margin: 0;
        
    }
    footer i{
        margin: 0;
        color: #ffffff !important;
        font-size: 20px !important;
    }
    .parent-column{
        
        font-family: 'Poppins', sans-serif;
        gap: 8px;
        
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* background-color: aliceblue; */
        height: 40vh;
        margin-top: -25px;
    }
    .parent-column h3{
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 18px;
        color: rgb(234, 232, 232);
    }
    .parent-column li{
        font-size: 10px;
        margin: 4px;
        margin-top: 0;
        

    }
    .parent-column div{
        text-align: left;
    }
}
